section.sec1{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
section.sec2{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
section.sec3{
    width: 100%;
    height: 100vh;
    background-size: cover;
}